# 6. How do I sort a pandas DataFrames or Series?

In [2]:
import pandas as pd
movies = pd.read_csv('data/imdbratings.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"'Tim Robbins', 'Morgan Freeman', 'Bob Gnton'"
1,9.2,The Godfather,R,Crime,175,"'Marlon Brando', 'Al Pacino', 'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"'Christian Bale', 'Heath Ledger', 'Aaron Eckhart'"
4,8.9,Pulp Fiction,R,Crime,154,"'John Travolta', 'Uma Thrman', 'Samel L. Jackson'"

In [3]:
# 'sort_values()': is a DataFrame and Series method.
# Sort by the values along either axis.
# Here we sort Serie of titles.
movies['title'].sort_values(ascending=False).head()

864               [Rec]
526                Zulu
615          Zombieland
677              Zodiac
955    Zero Dark Thirty
Name: title, dtype: object

In [4]:
# Here we sort the movies DataFrame by title of the movies
movies.sort_values('title').head()

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"'Zooey Deschanel', 'Joseph Gordon-Levitt', 'Ge..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"'Henry Fonda', 'Lee J. Cobb', 'Martin Balsam'"
201,8.1,12 Years a Slave,R,Biography,134,"'Chiwetel Ejiofor', 'Michael Kenneth Williams'..."
698,7.6,127 Hours,R,Adventure,94,"'James Franco', 'Amber Tamblyn', 'Kate Mara'"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"'Keir Dllea', 'Gary Lockwood', 'William Sylves..."

In [5]:
# BONUS
# We can sort by multiple criteria by passing a list of columns you want to sort by.
movies.sort_values(['content_rating', 'title']).head()

,star_rating,title,content_rating,genre,duration,actors_list
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"'John Lennon', 'Pal McCartney', 'George Harrison'"
95,8.4,All About Eve,APPROVED,Drama,138,"'Bette Davis', 'Anne Baxter', 'George Sanders'"
521,7.8,Belle de Jour,APPROVED,Drama,101,"'Catherine Deneve', 'Jean Sorel', 'Michel Picc..."
410,7.9,Bonnie and Clyde,APPROVED,Biography,111,"'Warren Beatty', 'Faye Dnaway', 'Michael J. Po..."
285,8.1,Bringing Up Baby,APPROVED,Comedy,102,"'Katharine Hepbrn', 'Cary Grant', 'Charles Rgg..."