# 7. How do I filter rows of a pandas DataFrames by column value?

In [1]:
import pandas as pd
movies = pd.read_csv('data/imdbratings.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"'Tim Robbins', 'Morgan Freeman', 'Bob Gnton'"
1,9.2,The Godfather,R,Crime,175,"'Marlon Brando', 'Al Pacino', 'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"'Christian Bale', 'Heath Ledger', 'Aaron Eckhart'"
4,8.9,Pulp Fiction,R,Crime,154,"'John Travolta', 'Uma Thrman', 'Samel L. Jackson'"

In [2]:
# Filtering data details process
booleans = []
for length in movies['duration']:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)

print(f"lenght of booleans variable = {len(booleans)}")
is_long = pd.Series(booleans)

# passing a Series of booleans (True and False) to the DataFrame, we notice that it shows only 
# the values with True value, in this case the movies with duration more than 200 min.
movies[is_long].head()

lenght of booleans variable = 979

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen'"
17,8.7,Seven Samurai,UNRATED,Drama,207,"'Toshir\xf4 Mifne', 'Takashi Shimra', 'Keiko T..."
78,8.4,Once Upon a Time in America,R,Crime,229,"'Robert De Niro', 'James Woods', 'Elizabeth Mc..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"""Peter O'Toole"", 'Alec Ginness', 'Anthony Qinn'"

In [3]:
# Filtering rows by columns values
movies[movies['duration'] >= 200]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen'"
17,8.7,Seven Samurai,UNRATED,Drama,207,"'Toshir\xf4 Mifne', 'Takashi Shimra', 'Keiko T..."
78,8.4,Once Upon a Time in America,R,Crime,229,"'Robert De Niro', 'James Woods', 'Elizabeth Mc..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"""Peter O'Toole"", 'Alec Ginness', 'Anthony Qinn'"
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"'Aamir Khan', 'Gracy Singh', 'Rachel Shelley'"
157,8.2,Gone with the Wind,G,Drama,238,"'Clark Gable', 'Vivien Leigh', 'Thomas Mitchell'"
204,8.1,Ben-Hur,G,Adventure,212,"'Charlton Heston', 'Jack Hawkins', 'Stephen Boyd'"
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"'Charlton Heston', 'Yl Brynner', 'Anne Baxter'"
476,7.8,Hamlet,PG-13,Drama,242,"'Kenneth Branagh', 'Jlie Christie', 'Derek Jac..."
630,7.7,Malcolm X,PG-13,Biography,202,"'Denzel Washington', 'Angela Bassett', 'Delroy..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"'Spencer Tracy', 'Milton Berle', 'Ethel Merman'"

In [4]:
# BONUS:
# select the 'genre' Series from the filtered DataFrame.
movies.loc[movies['duration'] >= 200, 'genre']

2          Crime
7      Adventure
17         Drama
78         Crime
85     Adventure
142    Adventure
157        Drama
204    Adventure
445    Adventure
476        Drama
630    Biography
767       Action
Name: genre, dtype: object