# 8. How do I apply multiple filter criteria to a pandas DataFrame?

In [1]:
import pandas as pd
movies = pd.read_csv('data/imdbratings.csv')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"'Tim Robbins', 'Morgan Freeman', 'Bob Gnton'"
1,9.2,The Godfather,R,Crime,175,"'Marlon Brando', 'Al Pacino', 'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"'Christian Bale', 'Heath Ledger', 'Aaron Eckhart'"
4,8.9,Pulp Fiction,R,Crime,154,"'John Travolta', 'Uma Thrman', 'Samel L. Jackson'"

In [2]:
movies[movies['duration'] >= 200].head()

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen'"
17,8.7,Seven Samurai,UNRATED,Drama,207,"'Toshir\xf4 Mifne', 'Takashi Shimra', 'Keiko T..."
78,8.4,Once Upon a Time in America,R,Crime,229,"'Robert De Niro', 'James Woods', 'Elizabeth Mc..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"""Peter O'Toole"", 'Alec Ginness', 'Anthony Qinn'"

In [3]:
# Applying filtering by multiple criteria, use '&', '|' instead of 'and', 'or'.
movies[(movies['duration'] >= 200) & (movies['genre'] == 'Drama')].head()

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"'Toshir\xf4 Mifne', 'Takashi Shimra', 'Keiko T..."
157,8.2,Gone with the Wind,G,Drama,238,"'Clark Gable', 'Vivien Leigh', 'Thomas Mitchell'"
476,7.8,Hamlet,PG-13,Drama,242,"'Kenneth Branagh', 'Jlie Christie', 'Derek Jac..."

In [4]:
movies[(movies['duration'] >= 200) | (movies['genre'] == 'Drama')].head()

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
5,8.9,12 Angry Men,NOT RATED,Drama,96,"'Henry Fonda', 'Lee J. Cobb', 'Martin Balsam'"
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"'Elijah Wood', 'Viggo Mortensen', 'Ian McKellen'"
9,8.9,Fight Club,R,Drama,139,"'Brad Pitt', 'Edward Norton', 'Helena Bonham C..."
13,8.8,Forrest Gump,PG-13,Drama,142,"'Tom Hanks', 'Robin Wright', 'Gary Sinise'"

In [5]:
# BONUS
# If we have a long condition like this one we can use 'isin' methode.
movies[(movies['genre'] == 'Crime') | (movies['genre'] == 'Drama') | (movies['genre'] == 'Adventure')].head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"'Tim Robbins', 'Morgan Freeman', 'Bob Gnton'"
1,9.2,The Godfather,R,Crime,175,"'Marlon Brando', 'Al Pacino', 'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
4,8.9,Pulp Fiction,R,Crime,154,"'John Travolta', 'Uma Thrman', 'Samel L. Jackson'"
5,8.9,12 Angry Men,NOT RATED,Drama,96,"'Henry Fonda', 'Lee J. Cobb', 'Martin Balsam'"

In [6]:
movies[movies['genre'].isin(['Crime', 'Drama', 'Action'])].head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"'Tim Robbins', 'Morgan Freeman', 'Bob Gnton'"
1,9.2,The Godfather,R,Crime,175,"'Marlon Brando', 'Al Pacino', 'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"'Al Pacino', 'Robert De Niro', 'Robert Dvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"'Christian Bale', 'Heath Ledger', 'Aaron Eckhart'"
4,8.9,Pulp Fiction,R,Crime,154,"'John Travolta', 'Uma Thrman', 'Samel L. Jackson'"